<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="author" content="Jonathan Lai">
    <meta name="keywords" content="Carnegie Mellon University, Information Systems">
    <meta name="description" content="Say It With Sweets Website">
    <title>Say It With Sweets | Blue & White</title>
    <link rel="stylesheet" href="../static/styles.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <script src="https://polyfill.io/v3/polyfill.min.js?features=default"></script>
    <script defer src="../static/script.js"></script>
</head>
<body>
    <header>
        <nav>
            <a href="index.html">
                <image id="logo" src="../static/logo.png" alt="Say It With Sweets Logo" width="145px"></image>
            </a>
        </nav>
        <nav id="menu_bar"> <!--nav bar-->
            <a href="index.html">Home</a>
            <a href="about.html">About</a>
            <a href="b&w.html">Blue & White</a>
            <a href="cupcakes.html">Cupcakes</a>
            <a href="cakes.html">Cakes</a>
            <a href="cookies.html">Cookies</a>
            <a href="contact.html">Contact</a>
        </nav>
    </header>
    <div class="body_content">
        <div class ="main">
            <h2 id="subtitle">Blue & White Series</h2>
            <div class="description">
                <p>Surprise your Penn-State students with one of our blue & white sweet treats... <br> 
                    Please order at least 48 hours in advance. Follow our social media to explore more of our other products.</p>
            </div>
        </div>
        <div class="icon_links">
            <div id="order_btn">
                <a href="contact.html">Order Now</a>
            </div>
            <div class="info_logo_top">
                <nav class="fb">
                    <a href="https://www.facebook.com/say.it.with.sweets/" target="_blank">
                        <image src="../static/facebook logo.png" alt="Facebook logo" width="80px"></image>
                    </a>
                </nav>
                <nav class="ig">
                    <a href="https://www.instagram.com/sayitwithsweets11/" target="_blank">
                        <image src="../static/instagram logo.png" alt="Instagram logo" width="80px"></image>
                    </a>
                </nav>
                <nav class="yelp">
                    <a href="https://www.yelp.com/biz/say-it-with-sweets-altoona" target="_blank">
                        <image src="../static/yelp logo.png" alt="Yelp logo" width="80px"></image>
                    </a>
                </nav>
            </div>
        </div>
        <div class="mainPics">
            <div id="pic1box">
                <image id="pic1" class="product" src="../static/b&w cupcake.jpg" alt="cupcake with blue & white icing"></image>
                <p>Blue & White Cupcakes<br>$26 Per Dozen</p>
            </div>
            <div id="pic2box">
                <image id="pic2" class="product" src="../static/b&w paw cupcake.jpg" alt="cupcake with blue paw decoration"></image>
                <p>Paw Print Cupcakes<br>$27 Per Dozen</p>
            </div>
            <div id="pic3box">
                <image id="pic3" class="product" src="../static/b&w cookie.jpg" alt="blue & white cookie cake"></image>
                <p>Cookie Cake<br>$46</p>
            </div>
        </div>
    </div>
    <div id="vid">
        <p class="heading_1" id="vid_text">
            Support our local team!
        </p>
        <iframe width="560" height="315" src="https://www.youtube.com/embed/-g2EU9hrwng?si=lf5pQC8vggDmwoy9" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen ></iframe>
    </div>
    <footer>
        <div class="mailing_list">
            <p class="heading_1">Join Our Mailing List</p>
            <p class="heading_3">Receive messages about upcoming promotions and product releases</p>
            <nav id="sign_up_btn">
                <a href="contact.html">Sign Up</a>
            </nav>
        </div>
        <div class="info">
            <div class="info_left">
                <p>Say It With Sweets</p>
                <p>Order Only</p>
                <p>+1 (814) 937 1564</p>
                <p>1307 Pleasant Valley Blvd. Altoona PA 16602 US </p>
                <p>Open Monday to Friday 10 AM to 3 PM; Weekend by appointment</p>
            </div>
            <div class="info_right">
                <nav id="citations">
                    <a href="citation.html">Citations</a>
                </nav>
                <p>Say It With Sweets &copy; 2024</p>
                <div class="info_logo">
                    <nav class="fb">
                        <a href="https://www.facebook.com/say.it.with.sweets/" target="_blank">
                            <image src="../static/facebook logo.png" alt="Facebook logo" width="20px"></image>
                        </a>
                    </nav>
                    <nav class="ig">
                        <a href="https://www.instagram.com/sayitwithsweets11/" target="_blank">
                            <image src="../static/instagram logo.png" alt="Instagram logo" width="20px"></image>
                        </a>
                    </nav>
                    <nav class="yelp">
                        <a href="https://www.yelp.com/biz/say-it-with-sweets-altoona" target="_blank">
                            <image src="../static/yelp logo.png" alt="Yelp logo" width="20px"></image>
                        </a>
                    </nav>
                </div>
            </div>
        </div>
    </footer>
</body>
</html>