<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="author" content="Jonathan Lai">
    <meta name="keywords" content="Carnegie Mellon University, Information Systems">
    <meta name="description" content="Say It With Sweets Website">
    <title>Say It With Sweets | Citations</title>
    <link rel="stylesheet" href="../static/styles.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <script src="https://polyfill.io/v3/polyfill.min.js?features=default"></script>
    <script defer src="../static/script.js"></script>
</head>
<body>
    <header>
        <nav>
            <a href="index.html">
                <image id="logo" src="../static/logo.png" alt="Say It With Sweets Logo" width="145px"></image>
            </a>
        </nav>
        <nav id="menuBar"> <!--nav bar-->
            <a href="index.html">Home</a>
            <a href="about.html">About</a>
            <a href="b&w.html">Blue & White</a>
            <a href="cupcakes.html">Cupcakes</a>
            <a href="cakes.html">Cakes</a>
            <a href="cookies.html">Cookies</a>
            <a href="contact.html">Contact</a>
        </nav>
    </header>
    <div class="body_content">
        <div class ="main" id="citation_section">
            <h2 id ="subtitle">Citations</h2>
            <p id="cite">Photo Courtesy: <br>All images are from<br>Say It With Sweets website: http://www.wearesweets.com/home.html<br> or from <br>Say It With Sweets Instagram: https://www.instagram.com/sayitwithsweets11/<br> or from <br>Say It With Sweets Facebook: https://www.facebook.com/say.it.with.sweets/
            </p>
        </div>
    </div>
    <footer>
        <div class="mailingList">
            <p class="heading_1">Join Our Mailing List</p>
            <p class="heading_3">Receive messages about upcoming promotions and product releases</p>
            <nav id="sign_up_btn">
                <a href="contact.html">Sign Up</a>
            </nav>
        </div>
        <div class="info">
            <div class="info_left">
                <p>Say It With Sweets</p>
                <p>Order Only</p>
                <p>+1 (814) 937 1564</p>
                <p>1307 Pleasant Valley Blvd. Altoona PA 16602 US </p>
                <p>Open Monday to Friday 10 AM to 3 PM; Weekend by appointment</p>
            </div>
            <div class="info_right">
                <nav id="citations">
                    <a href="citation.html">Citations</a>
                </nav>
                <p>Say It With Sweets &copy; 2024</p>
                <div class="info_logo">
                    <nav class="fb">
                        <a href="https://www.facebook.com/say.it.with.sweets/" target="_blank">
                            <image src="../static/facebook logo.png" alt="Facebook logo" width="20px"></image>
                        </a>
                    </nav>
                    <nav class="ig">
                        <a href="https://www.instagram.com/sayitwithsweets11/" target="_blank">
                            <image src="../static/instagram logo.png" alt="Instagram logo" width="20px"></image>
                        </a>
                    </nav>
                    <nav class="yelp">
                        <a href="https://www.yelp.com/biz/say-it-with-sweets-altoona" target="_blank">
                            <image src="../static/yelp logo.png" alt="Yelp logo" width="20px"></image>
                        </a>
                    </nav>
                </div>
            </div>
        </div>
    </footer>
</body>
</html>